[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
